a:link {

 color: red;
}
a:visited {

 color: green;

}
a:hover {

 color: hotpink;
}
a:active {

 color: blue;
}

footer {

 background-color: #99e6ff;

 padding: 10px;

 text-align: center;

 color: black;

}

article {

 float: right;

 padding: 20px;

 width: 70%;

 background-color: #e6f9ff;
}

body {

 background: linear-gradient(to bottom, #b3ffe6 0%, #ffe6b3 10%);

}

section:after {

 content: "";

 display: table;

 clear: both;
}
.header {

   color: white;

   font-family: fantasy;


   text-align: center;


   background-color:#99e6ff;


   padding:20px;


   text-shadow: 2px 1px #bf40bf;

}

* {


 box-sizing: border-box;


}


nav {


 float: right;

 width: 30%;

padding: 20px;

background: #eed5c4;

 }



@media (max-width: 600px) {


 nav, article {



   width: 100%;



   height: auto;


 }
